html, body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #F0D6D6, #FBFBDE, #AAE5E6);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes pop-in {
    0% {
        max-width: 0px;
    }
    70% {
        max-width: 420px;
    }
    100% {
        max-width: 400px;
    }
}

img {
    width: 80%;
    animation: pop-in 500ms ease 750ms 1 normal forwards;
    max-width: 0px;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    flex-wrap: wrap;
    margin-top: 25px;
}

a {
    transition: border 150ms ease;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    margin: 20px;
    flex-basis: 200px;
    flex-grow: 1;
    border-radius: 5px;
    border: 5px solid #000;
}

a:hover {
    border: 5px solid #333;
}

a:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #fff;
    outline-offset: -7px;
}

@keyframes swoop-up {
    0% {
        width: 0px;
        opacity: 0%;
        transform: translateY(50%);
    }
    50% {
        width: 100%;
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

a:nth-child(1) {
    width: 0px;
    opacity: 0%;
    animation: swoop-up 500ms ease 1250ms 1 normal forwards;
}

a:nth-child(2) {
    width: 0px;
    opacity: 0%;
    animation: swoop-up 500ms ease 1450ms 1 normal forwards;
}

a:nth-child(3) {
    width: 0px;
    opacity: 0%;
    animation: swoop-up 500ms ease 1650ms 1 normal forwards;
}